Repository X-R-G-B/ZappyCulteur, pull requests merged in 2023-06, with the labels that each got.

#25 ZappyCICD: epitech norm for c
  .github/workflows/c-lint.yml
  src/SERVER/include/ntw.h
  src/SERVER/libs/tinylibc/Doxyfile
  src/SERVER/src/map/map_init.c
Labels: enhancement

#39 ZappyServer: unauthorize teams name not authorized
  src/SERVER/src/loop/update_client_waiting_team_name.c
Labels: enhancement

#37 Zap 76 en tant quutilisateur je veux que les ia puissent mourir :beers:
  src/SERVER/include/trantorien.h
  src/SERVER/include/zappy.h
  src/SERVER/src/loop/loop.c
  src/SERVER/src/loop/state_connected/ai_cmd/update_ai_cmd.c
  src/SERVER/src/loop/state_connected/update.c
  src/SERVER/src/loop/update_client_not_connected.c
  src/SERVER/src/loop/update_client_waiting_team_name.c
  src/SERVER/src/trantorien/trantorien_init.c
  src/SERVER/src/trantorien/trantorien_reduce_freq.c
Labels: enhancement

#51 Zap 89 en tant qu ia je veux rester connecte jusqua ce quun solt se libere
  src/SERVER/Makefile
  src/SERVER/include/client.h
  src/SERVER/include/trantorien.h
  src/SERVER/include/zappy.h
  src/SERVER/src/loop/internal.h
  src/SERVER/src/loop/loop.c
  src/SERVER/src/loop/state_connected/update.c
  src/SERVER/src/loop/update_client_waiting_slot_opened.c
  src/SERVER/src/loop/update_client_waiting_team_name.c
  src/SERVER/src/trantorien/commands/command_look_around.c
  src/SERVER/src/trantorien/commands/internal.h
  src/SERVER/src/trantorien/trantorien_init.c
  src/SERVER/src/trantorien/trantorien_reduce_freq.c
  src/SERVER/src/zappy_create_initial_egg.c
  src/SERVER/src/zappy_init.c
  src/SERVER/tests/loop/ai_cmd/cmd_incantation.c
  src/SERVER/tests/loop/ai_cmd/cmd_look_around.c
  src/SERVER/tests/loop/ai_cmd/cmd_move.c
  src/SERVER/tests/loop/ai_cmd/cmd_set.c
  src/SERVER/tests/loop/ai_cmd/cmd_take.c
  src/SERVER/tests/loop/ai_cmd/cmd_turn.c
  src/SERVER/tests/zappy_t.c
Labels: enhancement

#61 Dayli Dev->Main
  src/GUI/assets/bees/egg.png
  src/GUI/src/CommandHandler.cpp
  src/GUI/src/CommandHandler.hpp
  src/GUI/src/Components/Text.cpp
  src/GUI/src/Entities/CMakeLists.txt
  src/GUI/src/Entities/Egg.cpp
  src/GUI/src/Entities/Egg.hpp
  src/GUI/src/Entities/EntitiesManager.cpp
  src/GUI/src/Entities/IEntity.hpp
  src/GUI/src/Entities/Trantorian.cpp
  src/GUI/src/Entities/Trantorian.hpp
  src/SERVER/Makefile
  src/SERVER/include/command_reponses.h
  src/SERVER/include/map.h
  src/SERVER/include/trantorien.h
  src/SERVER/include/zappy.h
  src/SERVER/src/loop/state_connected/ai_cmd/update_ai_cmd.c
  src/SERVER/src/loop/state_connected/graphic_cmd/update_graphic_cmd.c
  src/SERVER/src/trantorien/broadcasts/incantation_start.c
  src/SERVER/src/trantorien/commands/command_eject.c
  src/SERVER/src/trantorien/commands/command_fork.c
  src/SERVER/src/trantorien/commands/command_incantation.c
  src/SERVER/src/trantorien/commands/command_inventory.c
  src/SERVER/src/trantorien/commands/command_look_around.c
  src/SERVER/src/trantorien/commands/command_move.c
  src/SERVER/src/trantorien/commands/command_set_object_down.c
  src/SERVER/src/trantorien/commands/command_take_object.c
  src/SERVER/src/trantorien/commands/command_turn.c
  src/SERVER/src/trantorien/commands/internal.h
  src/SERVER/src/trantorien/trantorien_reduce_freq.c
  src/SERVER/tests/loop/ai_cmd/cmd_fork.c
  src/SERVER/tests/loop/ai_cmd/cmd_inventory.c
  src/SERVER/tests/loop/ai_cmd/cmd_look_around.c
Labels: release-rc

#65 Zap 101 en tant qu ia je veux savoir combien doeuf il y a sur le serveur
  src/SERVER/Makefile
  src/SERVER/src/loop/state_connected/ai_cmd/cmd_connect_nbr.c
  src/SERVER/src/loop/state_connected/ai_cmd/internal.h
  src/SERVER/src/loop/state_connected/ai_cmd/update_ai_cmd.c
  src/SERVER/src/trantorien/commands/command_eject.c
  src/SERVER/src/trantorien/commands/internal.h
  src/SERVER/tests/loop/ai_cmd/cmd_connect_nbr.c
Labels: enhancement

#66 Zap 39 en tant quutilisateur je veux broadcast les messages entre les trantoriens
  src/SERVER/Makefile
  src/SERVER/include/client.h
  src/SERVER/src/loop/update_client_not_connected.c
  src/SERVER/src/trantorien/commands/broadcast/command_broadcast.c
  src/SERVER/src/trantorien/commands/broadcast/internal.h
  src/SERVER/src/trantorien/commands/broadcast/is_in_box.c
  src/SERVER/src/trantorien/commands/broadcast/send_broadcast_pos.c
  src/SERVER/src/trantorien/commands/command_move.c
  src/SERVER/src/trantorien/commands/internal.h
  src/SERVER/src/trantorien/trantorien_reduce_freq.c
  src/SERVER/tests/loop/ai_cmd/cmd_broadcast.c
Labels: enhancement

#71 Dayli Dev->Main
  src/GUI/src/CommandHandler.cpp
  src/GUI/src/CommandHandler.hpp
  src/GUI/src/Entities/AEntity.cpp
  src/GUI/src/Entities/CMakeLists.txt
  src/GUI/src/Entities/Floor.cpp
  src/GUI/src/Entities/Floor.hpp
  src/GUI/src/Entities/IEntity.hpp
  src/GUI/src/Entities/Ressources.cpp
  src/GUI/src/Entities/Ressources.hpp
  src/GUI/src/Entities/Trantorian.cpp
  src/SERVER/Makefile
  src/SERVER/include/client.h
  src/SERVER/src/loop/state_connected/ai_cmd/cmd_connect_nbr.c
  src/SERVER/src/loop/state_connected/ai_cmd/internal.h
  src/SERVER/src/loop/state_connected/ai_cmd/update_ai_cmd.c
  src/SERVER/src/loop/update_client_not_connected.c
  src/SERVER/src/trantorien/commands/broadcast/command_broadcast.c
  src/SERVER/src/trantorien/commands/broadcast/internal.h
  src/SERVER/src/trantorien/commands/broadcast/is_in_box.c
  src/SERVER/src/trantorien/commands/broadcast/send_broadcast_pos.c
  src/SERVER/src/trantorien/commands/command_eject.c
  src/SERVER/src/trantorien/commands/command_look_around.c
  src/SERVER/src/trantorien/commands/command_look_around_sides.c
  src/SERVER/src/trantorien/commands/command_move.c
  src/SERVER/src/trantorien/commands/command_set_object_down.c
  src/SERVER/src/trantorien/commands/command_take_object.c
  src/SERVER/src/trantorien/commands/internal.h
  src/SERVER/src/trantorien/trantorien_reduce_freq.c
  src/SERVER/src/zappy_init.c
  src/SERVER/tests/libcircular/create.c
  src/SERVER/tests/libcircular/destroy.c
  src/SERVER/tests/libcircular/empty.c
  src/SERVER/tests/libcircular/read.c
  src/SERVER/tests/libcircular/write.c
  src/SERVER/tests/loop/ai_cmd/cmd_broadcast.c
  src/SERVER/tests/loop/ai_cmd/cmd_connect_nbr.c
  src/SERVER/tests/loop/ai_cmd/cmd_eject.c
  src/SERVER/tests/loop/ai_cmd/cmd_look_around.c
Labels: release-rc

#85 ZappyServer: add print when create a socket to show ip + port
  src/SERVER/src/network/ntw_init.c
Labels: enhancement

#87 ZappyServer: better ressources spawn
  src/SERVER/src/map/map_add_ressources.c
Labels: enhancement

#92 ZappyServer: disconnect client dead and remove egg
  src/SERVER/Makefile
  src/SERVER/src/loop/internal.h
  src/SERVER/src/loop/kill_dead_ai.c
  src/SERVER/src/loop/loop.c
Labels: enhancement, SERVER

#95 ZappyServer: Add defualt args when no args are provided
  src/SERVER/src/args/args_init.c
Labels: enhancement, SERVER

#94 Zappy IA Script : add script for IA Generate, Train and Use
  src/AI/bonus/README.md
  src/AI/bonus/SSkCSVGenerate.py
  src/AI/bonus/SSkTrain.py
  src/AI/bonus/SSkUse.py
  src/AI/image/image.png
  src/AI/zappy_ia/ClientManager.py
  src/AI/zappy_ia/DecisionTree.py
Labels: enhancement, AI

#96 ZappyServer: Fix incantation event message to graphic and add more te…
  .github/workflows/codeql.yml
  src/SERVER/src/trantorien/commands/command_incantation.c
  tests/SERVER/loop/ai_cmd/cmd_incantation.c
  tests/SERVER/loop/events/event_edi_pdi.c
  tests/SERVER/loop/events/event_incantation.c
  tests/SERVER/loop/events/event_seg.c
Labels: bug, enhancement, cicd

#98 ZappyGui: fix createRessources
  src/GUI/src/Entities/Floor.cpp
Labels: enhancement

#100 Server graphic fix
  .github/workflows/auto-assignee.yml
  src/SERVER/Makefile
  src/SERVER/include/trantorien.h
  src/SERVER/src/llog/internal.c
  src/SERVER/src/llog/write_f.c
  src/SERVER/src/loop/state_connected/graphic_cmd/cmd_bct.c
  src/SERVER/src/loop/state_connected/graphic_cmd/cmd_pin.c
  src/SERVER/src/loop/state_connected/graphic_cmd/cmd_plv.c
  src/SERVER/src/loop/state_connected/graphic_cmd/cmd_pnw.c
  src/SERVER/src/loop/state_connected/graphic_cmd/cmd_ppo.c
  src/SERVER/src/network/internal_remove_client_clean.c
  src/SERVER/src/network/ntw_init.c
  src/SERVER/src/trantorien/commands/command_inventory.c
  src/SERVER/src/trantorien/commands/command_look_around_utils.c
  src/SERVER/src/trantorien/commands/command_move.c
  src/SERVER/src/trantorien/commands/command_set_object_down.c
  src/SERVER/src/trantorien/commands/command_take_object.c
Labels: enhancement, cicd, SERVER

#101 Zap 73 2 group elevation
  .github/workflows/py-lint.yml
  src/AI/bonus/README.md
  src/AI/bonus/SSkCSVGenerate.py
  src/AI/bonus/SSkTrain.py
  src/AI/bonus/SSkUse.py
  src/AI/bonus/csv/level1.csv
  src/AI/image/image.png
  src/AI/joblib/food.joblib
  src/AI/joblib/level1.joblib
  src/AI/joblib/level2.joblib
  src/AI/joblib/level3.joblib
  src/AI/joblib/level4.joblib
  src/AI/joblib/level5.joblib
  src/AI/joblib/level6.joblib
  src/AI/joblib/level7.joblib
  src/AI/joblib/level8.joblib
  src/AI/zappy_ai.py
  src/AI/zappy_ia/Client.py
  src/AI/zappy_ia/ClientManager.py
  src/AI/zappy_ia/DecisionTree.py
  src/AI/zappy_ia/ElevationParticipant.py
  src/AI/zappy_ia/Enums.py
  src/AI/zappy_ia/IA.py
  src/AI/zappy_ia/Log.py
  src/GUI/CMakeLists.txt
  src/GUI/src/CMakeLists.txt
  src/GUI/src/Display/CMakeLists.txt
  src/GUI/src/network/CMakeLists.txt
Labels: enhancement, cicd, AI, GUI

#99 Zap 114 end screen entity
  src/GUI/assets/menu/VeryBeautifullSteve.png
  src/GUI/src/CommandHandler.cpp
  src/GUI/src/Components/Text.cpp
  src/GUI/src/Entities/CMakeLists.txt
  src/GUI/src/Entities/EndScreen.cpp
  src/GUI/src/Entities/EndScreen.hpp
Labels: enhancement

#104 ZappyGui: Now the command is parsed differently
  src/GUI/src/CommandHandler.cpp
Labels: enhancement, GUI

#106 ZappyGui: add first implementation of pbc
  src/GUI/src/CommandHandler.cpp
  src/GUI/src/CommandHandler.hpp
Labels: enhancement, GUI

#108 ZappyGui: add first implementation of suc
  src/GUI/src/CommandHandler.cpp
  src/GUI/src/CommandHandler.hpp
Labels: enhancement, GUI

#109 ZappyGui: add first implementation of sst
  src/GUI/src/CommandHandler.cpp
  src/GUI/src/CommandHandler.hpp
Labels: enhancement, GUI

#111 ZappyGui: add first implementation for pex command
  src/GUI/src/CommandHandler.cpp
  src/GUI/src/CommandHandler.hpp
Labels: enhancement, GUI

#110 ZappyGui: add first inplementation of sgt
  src/GUI/src/CommandHandler.cpp
  src/GUI/src/CommandHandler.hpp
Labels: enhancement, GUI

#112 Zap 129 en tant quutilisateur je veux que toutes les commandes soient interpretees
  src/GUI/src/CommandHandler.cpp
  src/GUI/src/CommandHandler.hpp
Labels: enhancement, GUI

#113 ZappyServer: fix id is not id first
  src/SERVER/src/loop/update_client_waiting_slot_opened.c
  tests/SERVER/loop/events/event_pwn_and_ebo.c
Labels: enhancement, SERVER

#115 ZappyGui: add menu and imrove view deplacement
  src/GUI/assets/UI/button.png
  src/GUI/assets/UI/buttonClicked.png
  src/GUI/assets/UI/buttonHover.png
  src/GUI/assets/UI/menu.png
  src/GUI/assets/components/inputField.png
  src/GUI/assets/components/inputFieldFocused.png
  src/GUI/assets/musics/menu.ogg
  src/GUI/src/App.cpp
  src/GUI/src/App.hpp
  src/GUI/src/CommandHandler.cpp
  src/GUI/src/CommandHandler.hpp
  src/GUI/src/Components/Button.cpp
  src/GUI/src/Components/Button.hpp
  src/GUI/src/Components/CMakeLists.txt
  src/GUI/src/Components/IComponent.hpp
  src/GUI/src/Components/InputField.cpp
  src/GUI/src/Components/InputField.hpp
  src/GUI/src/Components/Music.cpp
  src/GUI/src/Display/SFML.cpp
  src/GUI/src/Display/SFML.hpp
  src/GUI/src/Entities/CMakeLists.txt
  src/GUI/src/Entities/EntitiesManager.cpp
  src/GUI/src/Entities/EntitiesManager.hpp
  src/GUI/src/Entities/HUD.cpp
  src/GUI/src/Entities/StartMenu.cpp
  src/GUI/src/Entities/StartMenu.hpp
  src/GUI/src/Events/EventsManager.cpp
  src/GUI/src/Events/EventsManager.hpp
  src/GUI/src/network/NetworkManager.cpp
  src/GUI/src/network/NetworkManager.hpp
Labels: enhancement, GUI

#114 Zap 137 implement expulsion entity
  src/GUI/assets/environment/Explosion-PNG-HD.png
  src/GUI/src/CommandHandler.cpp
  src/GUI/src/Entities/CMakeLists.txt
  src/GUI/src/Entities/EntitiesManager.cpp
  src/GUI/src/Entities/Expulsion.cpp
  src/GUI/src/Entities/Expulsion.hpp
  src/GUI/src/Entities/IEntity.hpp
Labels: enhancement, GUI

#116 ZappyGui: add implementation for sbp command
  src/GUI/src/CommandHandler.cpp
  src/GUI/src/CommandHandler.hpp
Labels: enhancement, GUI

#117 Zap 129 en tant quutilisateur je veux que toutes les commandes soient interpretees
  src/GUI/src/CommandHandler.cpp
  src/GUI/src/CommandHandler.hpp
Labels: enhancement, GUI

#119 ZappyServer: add events already passed to graphic
  src/SERVER/Makefile
  src/SERVER/include/zappy.h
  src/SERVER/src/loop/get_updated_from_events.c
  src/SERVER/src/loop/state_connected/graphic_cmd/cmd_enw.c
  src/SERVER/src/loop/update_client_waiting_team_name.c
Labels: enhancement, SERVER

#120 Zap 73 2 merge
  src/AI/bonus/tree/README.md
  src/AI/bonus/tree/level1.png
  src/AI/bonus/tree/level2.png
  src/AI/bonus/tree/level3.png
  src/AI/bonus/tree/level4.png
  src/AI/bonus/tree/level5.png
  src/AI/bonus/tree/level6.png
  src/AI/bonus/tree/level7.png
  src/AI/bonus/tree/level8.png
  src/AI/zappy_ia/Client.py
  src/AI/zappy_ia/ElevationParticipant.py
Labels: enhancement, AI

#122 Zappy IA Client : fix wrong port
  src/AI/zappy_ia/Client.py
  src/AI/zappy_ia/ClientManager.py
Labels: enhancement, AI

#124 Zap 141 modif trantorian entity
  src/GUI/src/CommandHandler.cpp
  src/GUI/src/Entities/Trantorian.cpp
  src/GUI/src/Entities/Trantorian.hpp
Labels: enhancement, GUI

#125 ZappyCICD: add some checks compil
  .github/workflows/check-build.yml
Labels: cicd

#126 Zap 146 check egg error command
  src/GUI/src/CommandHandler.cpp
  src/GUI/src/CommandHandler.hpp
  src/GUI/src/Display/SFML.cpp
  src/GUI/src/Display/SFML.hpp
  src/SERVER/src/loop/update_client_waiting_slot_opened.c
  src/SERVER/src/zappy_create_initial_egg.c
Labels: enhancement, SERVER, GUI

#128 ZappyGui: fix menu
  src/GUI/src/network/NetworkManager.cpp
Labels: enhancement, GUI

#127 Zap 136 en tant quutilisateur je veux voir quand un trantorien expulse
  src/GUI/assets/environment/Explosion-PNG-HD.png
  src/GUI/src/CommandHandler.cpp
  src/GUI/src/Entities/CMakeLists.txt
  src/GUI/src/Entities/EntitiesManager.cpp
  src/GUI/src/Entities/Expulsion.cpp
  src/GUI/src/Entities/Expulsion.hpp
  src/GUI/src/Entities/IEntity.hpp
Labels: enhancement, GUI

#129 Fix pex
  src/SERVER/include/broadcast_events.h
  src/SERVER/src/loop/state_connected/ai_cmd/cmd_fork.c
  src/SERVER/src/loop/state_connected/graphic_cmd/cmd_pex.c
  src/SERVER/src/trantorien/commands/command_eject.c
  src/SERVER/src/trantorien/trantorien_reduce_freq.c
Labels: enhancement, SERVER

#130 Dev->Main
  .github/workflows/check-build.yml
  src/GUI/assets/environment/Explosion-PNG-HD.png
  src/GUI/src/CommandHandler.cpp
  src/GUI/src/CommandHandler.hpp
  src/GUI/src/Display/SFML.cpp
  src/GUI/src/Display/SFML.hpp
  src/GUI/src/Entities/CMakeLists.txt
  src/GUI/src/Entities/EntitiesManager.cpp
  src/GUI/src/Entities/Expulsion.cpp
  src/GUI/src/Entities/Expulsion.hpp
  src/GUI/src/Entities/IEntity.hpp
  src/GUI/src/Entities/Trantorian.cpp
  src/GUI/src/Entities/Trantorian.hpp
  src/GUI/src/network/NetworkManager.cpp
  src/SERVER/include/broadcast_events.h
  src/SERVER/src/loop/state_connected/ai_cmd/cmd_fork.c
  src/SERVER/src/loop/state_connected/graphic_cmd/cmd_pex.c
  src/SERVER/src/loop/update_client_waiting_slot_opened.c
  src/SERVER/src/trantorien/commands/command_eject.c
  src/SERVER/src/trantorien/trantorien_reduce_freq.c
  src/SERVER/src/zappy_create_initial_egg.c
Labels: enhancement, release-rc, cicd, SERVER, GUI

#133 ZappyServer: Add ctrl+c signal handler
  src/SERVER/Makefile
  src/SERVER/include/handle_signal.h
  src/SERVER/src/handle_signal.c
  src/SERVER/src/main.c
  src/SERVER/src/network/ntw_loop.c
  src/SERVER/src/network/ntw_wait_till_events.c
Labels: enhancement, SERVER

#134 Dev->Main
  src/SERVER/Makefile
  src/SERVER/include/handle_signal.h
  src/SERVER/src/handle_signal.c
  src/SERVER/src/main.c
  src/SERVER/src/network/ntw_loop.c
  src/SERVER/src/network/ntw_wait_till_events.c
Labels: enhancement, SERVER

#135 ZappyReadme: Update README.md
  README.md
Labels: documentation

#136 Zap 73 2 merge
  src/AI/bonus/csv/level2.csv
  src/AI/bonus/csv/level3.csv
  src/AI/bonus/csv/level4.csv
  src/AI/bonus/csv/level5.csv
  src/AI/bonus/csv/level6.csv
  src/AI/bonus/csv/level7.csv
  src/AI/bonus/csv/level8.csv
  src/AI/zappy_ai.py
  src/AI/zappy_ia/Client.py
  src/AI/zappy_ia/ClientManager.py
  src/AI/zappy_ia/DecisionTree.py
  src/AI/zappy_ia/ElevationParticipant.py
  src/AI/zappy_ia/Enums.py
  src/AI/zappy_ia/IA.py
Labels: enhancement, AI

#138 ZappyServer: Add help flag
  src/SERVER/Makefile
  src/SERVER/include/args.h
  src/SERVER/src/args/args_init.c
  src/SERVER/src/args/parse_args/c_help.c
  src/SERVER/src/args/parse_args/internal.h
  src/SERVER/src/main.c
Labels: enhancement, SERVER

#140 Update main file
  src/SERVER/Makefile
  src/SERVER/include/zappy.h
  src/SERVER/src/main.c
  src/SERVER/src/zappy_server_update.c
Labels: enhancement, SERVER

#141 ZappyGui: fix seg fault
  src/GUI/src/Display/SFML.cpp
Labels: enhancement, GUI

#145 ZappyIA: Fix joblib
  src/AI/bonus/csv/level5.csv
  src/AI/joblib/level5.joblib
  src/AI/zappy_ia/ClientManager.py
Labels: enhancement, AI

#144 Dev -> main (Unreal)
  bonus/ZappyCulteur/Content/Blueprints/HUD/WPB_NetworkConnectionFailed.uasset
  bonus/ZappyCulteur/Content/Maps/Menu.umap
  bonus/ZappyCulteur/Source/ZappyCulteur/Bee/Bee.cpp
  src/AI/bonus/csv/level5.csv
  src/AI/joblib/level5.joblib
  src/AI/zappy_ia/ClientManager.py
Labels: enhancement, AI
